*~
*.ali
*.o
*.db
*.out
*.log.*
*log.200*
*.orig
*.patch
**b~*
db/test/db_harness
image/test/image_harness
image/test/images
image/test/thumbs
lib/gnade/lib
db/lib
image/lib
kernel/lib
web/lib
lib/g2f_io/lib
web/test/bin
*tsrc*
*v2p-testdir*
test