**b~*
*.ali
*.db
*.exe
*.log.*
*.o
*.orig
*.out
*.patch
*log.200*
*tsrc*
*v2p-testdir*
*~
.#*
db/lib
db/obj
db/test/db_harness
image/lib
image/test/image_harness
image/test/images
image/test/thumbs
kernel/lib
lib/g2f_io/lib
lib/g2f_io/lib_ext/libjpeg.dll.a
lib/g2f_io/lib_ext/libmagick.dll.a
lib/gnade/lib
runtime/*
web/lib
web/lib_ali
web/obj
web/test/bin
web/test/obj
