body {

  margin:0;

  padding:0;

}

h1 {

  margin:0 0 3px;

  padding:0 0 .35em;

}

#content {

    position:relative;

    margin: 0;

    padding:15px;

    width:820px;

    margin-left:auto;

    margin-right:auto;

}

.main .forums {

    background-color: #f7f7f7;

    width:820px;

    float: left;

    margin:0 0 15px;

    padding:1px 0;

    text-align:center;

    border: 1px solid white;

}

.forum_post_page .forums, .no_forum_post #title_name_input {

    display: none;

}

#end_main_page {

    float:left;

    width:805px;

    padding:10px 0 0 15px;

    margin:0;

}

.module {

    float:left;

    width:375px;

    margin:0 17px 0 0;

    padding:0 4px;

    text-align:left;

}

.module p, .module address {

    font-size:85%;

    line-height:1.6em;

}

body.no_forum_post #forum_post {

    display: none;

}

body.main p#block_login_close {

    display:none;

}
