html, body {
    height: 100%;
    margin: 0;
    padding: 0px;
}

div#global {
    min-height: 100%;
    width: 100%;
    position: absolute;
}

div#status_bar {
    display: none;
}

#title h1 {
    position : absolute;
    width : 70%;
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

div#login {
    margin-left: 70%;
    width: 27%;
    float: right;
}

/* Forum List */

div#forumlistbar
{
    clear: right;
    margin: 0;
    margin-top : 4em;
    padding: 0 0 6px 10px;
    height : 1.1em;
    border-bottom: 1px solid #000;
}

#forumlistbar ul, li {
    margin: 0;
    padding: 0;
    display: inline;
}


div#main_image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top : 4em;
    margin-bottom: 4em;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
