@@--  Set the main site colors
@@SET@@ V2P_MAIN_BACKGROUND_COLOR=#f5f5f5
@@SET@@ V2P_MAIN_COLOR=#333
@@SET@@ V2P_MAIN_COLOR_INVERT=#000000
@@SET@@ V2P_MAIN_LINK_COLOR=MidnightBlue
@@SET@@ V2P_MAIN_LINK_HOVER_COLOR=DimGray
@@SET@@ V2P_ENTRY_BORDER_COLOR=silver
@@SET@@ V2P_LABEL_AND_INPUT_COLOR=#998866
@@SET@@ V2P_COLOR_1=#bbbbcc
@@SET@@ V2P_COLOR_2=#eeffff
@@SET@@ V2P_COLOR_3=#333333
@@SET@@ V2P_COLOR_4=#cccccc
@@SET@@ V2P_WARNING_COLOR=red

body {
    background: @_V2P_MAIN_BACKGROUND_COLOR_@  url("/css/img/bg_page.jpg") repeat-x 0 0;
    color: @_V2P_MAIN_COLOR_@;
}

a {
    color : @_V2P_MAIN_LINK_COLOR_@;
}

a:hover, a:active {
    color: @_V2P_MAIN_LINK_HOVER_COLOR_@;
}
