@@SET@@ MAX_IMAGE_SIZE=800px
@@SET@@ MIN_IMAGE_SIZE=500px
@@SET@@ HIGHLIGHT_COLOR=#019BBD

@@--  Fonts

* {
   line-height:1.4em;
}

h1, h2, h3, h4, h5, h6 {
   text-transform:capitalize;
}

p {
   margin: 1em 0em;
}

body {
   font-family: arial, sans-serif;
   text-align:left;
}

a {
   text-decoration:none;
}

body.forum_entry h2 {
   font-size: 1.8em;
   padding-top: 20px;
   margin-bottom: 20px;
   font-weight: lighter;
   letter-spacing: 0.1ex;
}

p#cd_user {
   font-style:italic;
}

#ft, body.forum_entry ul#navcontainer {
   font-size:0.8em;
}

body.forum_entry ul#navcontainer {
   margin-top:2em;
}

@@--  General

body {
   margin:1em;
}

div#main {
   position: relative;
   min-height:100%;
   height:auto !important;
   height:100%;
}

select, input, textarea {
   border: thin solid @_HIGHLIGHT_COLOR_@;
   color:#ffffff;
}

input[type="submit"] {
   background-color:@_HIGHLIGHT_COLOR_@;
   color:#000000;
}

strong {
   font-weight: bolder;
}

cite, em {
   font-style: italic;
}

@@--  Blocks

div#image_block {
   margin-left:60px;
   margin-top:10px;
   width:@_MAX_IMAGE_SIZE_@;
}

@@--  Navigation links

ul#navigate li {
   display:inline;
   text-transform:uppercase;
   font-size:0.8em;
   padding-right:1em;
}

ul#navigate li.prev_link
{

}

ul#navigate li img {
   display:none;
}

@@--  forum_entry

body.forum_entry p#main_image {
   margin:0px;
   padding:5px 0 0 0;
}

body.forum_entry #new_comment {
   width:@_MIN_IMAGE_SIZE_@;
}

body.forum_entry #new_comment legend {
   display:none;
}

body.forum_entry #new_comment input,
   body.forum_entry #new_comment textarea
{
   width:95%;
   padding:0.2em;
   margin:5px 0 5px 0;
}

body.forum_entry #new_comment input[type="submit"]
{
   width:2em;
}

div#comment_login em {
   font-size:1.1em;
}

@@--  Forum threads

div#quick_login {
   float:right;
   margin-right:1em;
   font-size:0.8em;
   text-align:right;
   position:absolute;
   margin:5px;
   top:0px;
   right:0px;
   z-index:5000;
}

div#quick_login a#show_rel_login {
   border: thin solid #2181b5;
   padding:2px;
}

body.forum_threads select#forum_filter_set {
   margin:1em 0 0 0;
}

body.forum_threads ul#navcontainer {
   margin:5px 0 0 5px;
}

@@--  Login form

form#login_form {
   margin: 2em 0 2em 0;
}

form#login_form legend,
   form#login_form p {
      display:inline;
   }

form#login_form p#cd_user {
   display:block;
}

#login_form input {
   margin-right:1em;
   width:8em;
}

#login_form label {
   display:none;
}

#logged_box {
   padding:2em;
}

@@--  Main page

body.main h1 {
   padding:2em 0 0.5em 0;
   font-size:2em;
}

body.main p#v2p_binary {
   font-size:0.6em;
   width:40em;
}

body.main p#logo {
   padding:0;
   position:absolute;
   float:right;
   margin-left:34em;
   witdh:200px;
}

#presentation p {
   width:30em;
}

@@--  Footpage

#ft {
   bottom: 0 !important;
   bottom: -1px;
   height: 40px;
   text-align:right;
   margin:1em 0.5em 0 0;
}

@@--  Forum list

ul#navcontainer li {
   display:inline;
   margin-right:1em;
   font-family:arial,sans-serif;
}

ul#navcontainer li a {
   text-decoration:underline;
}

ul#navcontainer li.index a {
  text-decoration:none;
}

@@--  Colors

body {
   background: #000000;
   color:#ffffff;
}

a {
   color:white;
}

select, input, textarea
{
   background-color:#131313;
}

input:hoover,
   textarea:hoover
{
   color:white;
}

ul#navcontainer li a {
   color:#c1c7c7;
}

ul#navcontainer li.index a {
   color:#436EEE;
}

.right {
   text-align:right;
}


@@-- Slides
.slides
{
   clear: both;
   float: left;
   width: 100%;
   list-style: none;
   line-height: 1em;
   margin-top: 2em;
}

.slides li {
   display: block;
   float: left;
   width: 300px;
   height: 200px;
   margin: 0 10px 10px 0;
   padding: 0;
   text-align: center;
}

.slides li p {
   margin: 0.5em;
}

.slides div {
   display: block;
   width: 200px;
}

.slides li p a {
   color: #424242;
   font-size: 1.1em;
   font-weight: bold;
   text-decoration: none;
}


iframe {
/*    display: none; */
/* It is not possible to use the display property here as IE7 will
refuse to activate the form if the submit button is not displayed. For
the record, using "visibility: hidden" does not work. So the trick is
to make the button with a null size and move it outside of the
display. */
   width: 0;
   height: 0;
   position: absolute;
   left: -9000px;
}

#new_comment {
   margin-top: 2em;
}


.thumbs img
{
   border: thin solid silver;
   margin-bottom: 0.3em;
}

.thumbs
{
   text-align: center;
}


ol.comments {
   padding: 1em;

}

li.level_1
{
   background-color: #1b1b1b;
   border : thin solid #1b1b1b;
   margin: 0.4em;
   padding:0.2em;
}

li.type_0
{
   background-color: #000000;
}



.thumbselect {
   background-position: left center;
   background-repeat: no-repeat;
   height: 80px;
   padding-left: 90px;
}

.thumboption {
   background-position: left center;
   background-repeat: no-repeat;
   height: 40px;
   margin-bottom: 2px;
   padding-left: 90px;
}

#show_new_photo_post {
   background: url(/css/img/list-add.gif);
   background-position: left center;
   background-repeat: no-repeat;
   padding: 10px 10px 10px 40px;
}

a#show_new_photo_post {
   text-decoration:underline;
}

div#form_container p {
   margin:10px 0 0 2em;
}

form#basic_post_form legend
{
   font-size:1.3em;
   margin:0 0 1em 0;

}

#new_post {
   width:30em;
}

#new_post label {
   float:left;
   margin:1em 0 0 0;
}

#new_post p#forum_sel select {
   float:left;
   width:45%;
}

#new_post p#forum_sel select#sel_category {
   margin-left:10%;
}

#new_post input, #new_post textarea {
   float:left;
   width:100%;
}

input#photo_form_enter {
   margin-left:1em;
}

form#metadata_edition_form {
   float:left;
   position:absolute;
   top:2em;
   margin-left:40em;
}

ol#comments cite {
   border-bottom:thin solid #019bbd;
   width:100%;
   display:block;
   margin:0 0 5px 0;
}

ol#comments cite a {
   margin:0px;
   font-size:1.2em;
   color:#019bbd;
}

ol#comments p.commentmetadata {
   margin:0 0 1em 0;
}

ol#comments p.comment_body {
   line-height:1.5em;
}


@@--  User page

body.user_page form#user_page_edit_form,
   #user_page_content
{
   margin:2em 0 0 1em;
}

body.user_page form#user_page_edit_form textarea#content_input {
   width:80em;
   height:30em;
}

#user_page_content h1 {
   font-size:1.4em;
}

#user_page_content h2 {
   font-size:1.2em;
}

#user_page_content h3 {
   font-size:1.1em;
}


#user_page_content h1 {
   display: block;
   font-size: 2em;
   font-weight: bold;
   margin: .67em 0;
}

#user_page_content h2 {
   display: block;
   font-size: 1.5em;
   font-weight: bold;
   margin: .83em 0;
}

#user_page_content h3 {
   display: block;
   font-size: 1.17em;
   font-weight: bold;
   margin: 1em 0;
}

#user_page_content h4 {
   display: block;
   font-weight: bold;
   margin: 1.33em 0;
}

#user_page_content h5 {
   display: block;
   font-size: 0.83em;
   font-weight: bold;
   margin: 1.67em 0;
}

#user_page_content h6 {
   display: block;
   font-size: 0.67em;
   font-weight: bold;
   margin: 2.33em 0;
}

hr#step_1, hr#step_2, hr#step_3, hr#step_4 {
    padding:0;
    margin:1em 0 0 0;
    width:40%;
    border-left:thin solid white;
}

hr#step_2, hr#step_4 {
    left:20%;
    position:relative;
}

body.forum_post_page h1 {
    margin:0.5em;
    font-size:2em;
}