@@--  Gather all CSS here to avoid a lot of http request

@@INCLUDE@@ reset-fonts-grids.css
@@--  The foundational YUI Grids CSS file offers three preset page
@@--  widths, seven core templates, and the ability to nest
@@--  subdivided regions of one to four columns.
@@--
@@SET@@ MAX_IMAGE_SIZE=800
@@SET@@ MIN_IMAGE_SIZE=500
@@SET@@ HIGHLIGHT_COLOR=#019BBD
@@SET@@ PHOTOTITLE_COLOR=#CBCBFF
@@SET@@ PHOTOCATEGORY_COLOR_COLOR=#DCE0E3
@@SET@@ PHOTOAUTHOR_COLOR_COLOR=#B5C8FF
@@SET@@ LIGHT_BORDER_COLOR=#333
@@SET@@ ERROR_COLOR=#CBCBFF
@@SET@@ PAGETITLE_COLOR=#CBCBFF
@@SET@@ IMPORTANT_TEXT_COLOR=#FF7B2B
@@--
@@-- Position
@@--
html, body, #cvt_contents {
   height:100%;
   min-height:100%;
   width:100%;
}
@@--
html > body, html > body #cvt_contents {
   height:auto;
}
@@--
body {
   margin:0;
   padding:0;
}
@@--
#cvt_contents {
   @@--  Hack for having centered block in ie6
   text-align:center;
   @@--  End of hack
   left:0;
   position:absolute;
   top:0;
}
@@--
#pm_eop {
   visibility:hidden;
   clear:both;
}
@@--
#cvt_main {
   height:auto;
   margin-bottom:5em;
   padding:0.5em;
}
@@--
@@--  Fonts
@@--
* {
   line-height:1.4em;
}
@@--
h1, h2, h3, h4, h5, h6 {
   text-transform:capitalize;
}
@@--
p {
   margin: 1em 0em;
}
@@--
body {
   font-family:verdana,helvetica,arial,sans-serif;
   text-align:left;
}
@@--
a {
   text-decoration:none;
}
@@--
p#bl_cd_user {
   font-style:italic;
}
@@--
#footnote {
   font-size:0.8em;
}
@@--
@@--  General
@@--
select {
   border: thin solid @_HIGHLIGHT_COLOR_@;
   color: white;
   background-color:#131313;
   margin-left: 1em;
   margin-right: 1em;
}
textarea, input {
   border: thin solid @_HIGHLIGHT_COLOR_@;
   color: #aaaaaa;
   background-color:#131313;
   padding: 0.3em;
   margin-left: 1em;
   margin-right: 1em;
}
@@--
input[type="submit"] {
   background-color: @_HIGHLIGHT_COLOR_@;
   color: black;
   margin-left: 0em;
}
@@--
#pfnte_new_entry_name_input, #pfnpe_new_entry_name_input {
   width: 30em;
}
@@--
strong {
   font-weight: bolder;
}
@@--
cite, em {
   font-style: italic;
}
@@--
h1 {
   padding:2em 0em 1em 0;
   font-size:1.6em;
   font-weight:bold;
   text-align:center;
   text-transform:none;
   color: @_PAGETITLE_COLOR_@;
}
@@--
@@--  Blocks
@@--
div#pfe_image_block {
   position:relative;
   padding:0;
   width:@_ADD(70):MAX_IMAGE_SIZE_@px;
   margin:1em auto;
}
@@--
@@--  Navigation links
@@--
ul#bft_navigate li, ul#pfe_navigate li, ul#bftt_navigate li {
   display:inline;
   font-variant:small-caps;
   font-size:0.9em;
   padding-right:1em;
}
@@--
ul#bft_navigate, ul#bftt_navigate {
   margin: 0 auto;
   text-align:center;
}
@@--
ul#pfe_navigate {
   text-align:center;
   padding-top:1em;
}
@@--
ul#pfe_navigate li img {
   display:none;
}
@@--
ul#bft_navigate li.nav_info, ul#bftt_navigate li.nav_info {
   font-size:0.7em;
}
@@--
@@--  forum_entry
@@--
#pfe_image_infos {
   text-align:left;
   margin:2em 0;
   padding:1em 2em;
   background-color: @_LIGHT_BORDER_COLOR_@;
   border:thin solid @_PHOTOTITLECOLOR_@;
}
@@--
#pfe_image_infos h2 {
   font-size:1.3em;
   text-transform:none;
}
@@--
#pfe_img_author, #pfnpe_img_author {
   float:right;
   margin:0;
   font-style:italic;
   color:@_PHOTOAUTHOR_COLOR_@;
}
@@--
#pfnpe_img_author, #pfnte_img_author {
   float:none;
   font-style:italic;
   color:@_PHOTOAUTHOR_COLOR_@;
}
@@--
#pfnpe_mandatory_fields {
   border: 2px solid red;
}
@@--
#pfnpe_entry_comment {
   text-align: left;
}
@@--
#pfnpe_post_error, #pfnte_post_error {
   color: red;
   font-size: 1.3em;
}
@@--
#pfe_main_image_comment {
   font-size:1.1em;
   text-align:left;
   padding: 1em 0em 0em;
}
@@--
textarea#global_comment_input {
   width:95%;
   height:10em;
   background: black;
   color: white;
   border: thin dotted white;
   padding: 10px;
}
@@--
label#global_comment_input {
   width: 90%;
   font-size: 1.2em;
   background: black;
}
@@--
form#bnc_comment_form label {
   font-weight: bold;
   font-size: 1.2em;
   background: black;
}
@@--
#bnc_upload_file {
   float: left;
   padding-right: 5em;
}
@@--
.comment_photo {
   padding-top: 1em;
}
@@--
div#pfe_lazy_new_comment {
   border: thin solid @_LIGHT_BORDER_COLOR_@;
   padding: 1em;
   margin-top: 1em;
}
@@--
div#bnv_new_vote {
   border: thin solid @_LIGHT_BORDER_COLOR_@;
   padding: 1em 2em 2em;
   margin: 1em 0;
   background: #111111;
}
@@--
div#bvwp_vote_week_photo {
   text-align: center;
}
@@--
a#bvwp_vote_button {
   color: #019bbd;
   font-size: 1.2em;
}
@@--
#pfe_cdc {
   text-align: center;
   color: #019bbd;
   font-size: 1.2em;
}
a#pfe_cdclink {
   color: #FF1111;
   font-size: 1.3em;
   padding-right: 0.5em;
}
@@--
body.forum_entry p#pfe_main_image {
   margin:0px auto;
   text-align:center;
   padding:5px 0 0 0;
}
@@--
body.forum_entry #pfe_comments {
   border :thin solid @_LIGHT_BORDER_COLOR_@;
   padding:1em;
   text-align: left;
}
@@--
body.forum_entry #pfe_comments li {
   border :thin solid #004656;
   padding:1em;
}
@@--
body.forum_entry #pfe_comments li#pfe_nocomment {
   @@-- When no comments
   font-size:1.4em;
   text-align:center;
}
@@--
#bnc_noanonymouscomment, #bnv_noanonymouscomment {
   text-align:center;
   color:#B01417;
   text-decoration:underline;
   font-size: 1.3em;
}
@@--
body.forum_entry #pfe_new_comment {
   width:@_MIN_IMAGE_SIZE_@px;
}
@@--
#pfe_comments_section {
   text-align: left;
}
@@--
body.forum_entry #pfe_new_comment legend {
   display:none;
}
@@--
form#bl_login_form legend {
   padding: 0 0 1em 1em;
   font-size: 1.2em;
   font-style:italic;
}
@@--
body.forum_entry #pfe_new_comment input,
body.forum_entry #pfe_new_comment textarea
{
   width:95%;
   padding:0.2em;
   margin:5px 0 5px 0;
}
@@--
body.forum_entry #pfe_new_comment input[type="submit"]
{
   width:2em;
}
@@--
div#bnc_comment_login em {
   font-size:1.1em;
}
@@--
select#bfcs_forum_category_set {
   background-color: #333333;
   border: 0px;
}
@@--
@@--  Search
@@--
div#ps_search {
   margin:2em auto 0;
   width:90%;
   color:#C1C7C7;
   font-weight:bold;
   border:thin solid #C1C7C7;
   padding:0.3em;
   text-align:center;
}
@@--
.ps_search_block {
   margin:2em auto 0;
   width:90%;
   padding:0.3em;
   display: none;
}
@@--
.ps_search_block h2 {
   font-size: 1.2em;
   font-weight: bold;
   background: @_PHOTOTITLE_COLOR_@;
   text-decoration: none;
   width: 100%;
   align: center;
   padding: 0.2em;
   color: black;
}
@@--
#ps_search_results_users {
   text-align: left;
   margin-left: 5em;
}
@@--
#ps_search_results_posts {
}
@@--
#ps_search_results_comments {
   text-align: left;
   margin-left: 5em;
}
@@--
@@--  Forum threads
@@--
div#pft_filters {
   margin:4em auto 0;
   width:90%;
   color:#C1C7C7;
   font-weight:bold;
   border:thin solid #C1C7C7;
   padding:0.3em;
   text-align:center;
}
@@--
div#pft_filters div, div#pft_filters h2 {
   display:inline;
   padding:0 1.5em;
}
@@--
div#pft_filters div select, div#pft_filters div select option {
   padding:0.4pt 3pt;
   color:#C1C7C7;
   font-weight:bold;
   border:black;
   margin:0;
}
div#cvt_lazy_login, div#cvt_lazy_quick_login {
   float:right;
   font-size:0.9em;
   text-align:right;
   position:absolute;
   margin:5px;
   top:0px;
   right:0px;
   z-index:1000;
}
div#cvt_lazy_login {
   z-index:500;
}
@@--
form#bl_login_form {
   top:2em;
   background: #333333;
   border:2px ridge #555555;
   opacity:0.95;
   padding:1em 1.5em 0.4em 0pt;
   width:40em;
}
@@--
div#bl_logged_box {
    color:white;
    font-weight:bold;
    padding:0pt 1pt;
    position:absolute;
    right:0pt;
    top:2em;
    width:17em;
}
@@--
div#bl_logged_box ul li {
    background-color:black;
}
@@--
div#cvt_lazy_login ul li {
    margin-bottom: 1em;
}
@@--
div#bftt_forum_text {
   border: thin solid @_LIGHT_BORDER_COLOR_@;
   width: 90%;
   margin-left: 2em;
   margin-top: 2em;
   padding: 1em;
}
@@--
div#bl_login_err {
   margin:0;
   padding:0;
   color:red;
}
@@--
@@--  Login form
@@--
form#bl_login_form {
   margin: 2em 0 2em 0;
}
@@--
form#bl_login_form p {
     display:inline;
}
@@--
form#bl_login_form p#bl_cd_user {
   display:block;
}
@@--
#bl_login_form input {
   margin-right:1em;
   width:8em;
}
@@--
#bl_login_form label {
   display:none;
}
@@--
#bl_logged_box {
   padding-top:1em;
}
@@--
@@--  Main page
@@--
body.main h1 {
   font-family:arial,sans-serif;
   padding:1.2em 0 0.6em 0;
   font-size:3em;
}
@@--
#pm_main_content {
   max-width:1000px;
   width:80%;
   @@--  Hack for ie6
   width: expression(Math.max((document.documentElement ? document.documentElement.clientWidth : document.body.clientWidth) * 0.8, 1000)+'px');
   @@--  End of hack
   margin:0 auto;
   left:0;
   right:0;
}
@@--
body.main h2 {
   font-size:1.3em;
   font-style:italic;
   font-weight:bolder;
   margin-top:-1em;
   padding-bottom:1em;
}
@@--
#pm_presentation {
   text-align:left;
   border: thin solid @_LIGHT_BORDER_COLOR_@;
   margin-left:450px;
   position:relative;
   top:0pt;
}
#pm_presentation p {
   line-height:1.5em;
   padding:0em 0.5em 0pt 1em;
}
@@--
#pm_photo_of_the_week {
   margin: 0 0 0 1%;
   float: left;
}
@@--
#pm_photo_of_the_week p {
   padding:0;
   margin:0;
}
@@--
#pm_rb {
   padding: 0;
   margin: 0 1%;
   width: 36%;
   float: right;
}
@@--
#pm_photo_of_the_week img {
   margin:0;
   max-width:400px;
   max-height:400px;
   @@--  Hack for IE6
   width: expression( this.height > this.width ? "auto" : "400px" );
   height: expression( this.height > this.width ? "400px" : "auto" );
   @@--  End of hack
   border:thin solid @_LIGHT_BORDER_COLOR_@;
}

@@--
#pm_latest_users {
   text-align:left;
   border: thin solid @_LIGHT_BORDER_COLOR_@;
   margin: 0 0 1em 450px;
   position:relative;
   top:2em;
   padding:0 0 1em 0;
}
@@--
#pm_latest_users li {
   padding:0.5em 0 0 1em;
}
@@--
#pm_latest_posts {
   text-align:center;
   clear:left;
   border: thin solid @_LIGHT_BORDER_COLOR_@;
   float:left;
   margin:2em 0;
   padding:0.3em;
   width:100%;
}
@@--
#pm_latest_posts ul {
   width:860px;
   max-width:800px;
@@--  Hack for IE6
   margin:0 auto;
}
@@--
#pm_latest_posts h2 {
   text-align:left;
   @@--  Hack for IE6/IE7 for the text to be displayed on top
   position: relative;
   @@--  End of hack
}
@@--
@@--  Footpage
@@--
#ct_ft {
   display:none;
}
@@--
@@--  Forum list
@@--
ul#bfl_navcontainer {
   text-align:left;
   top:5px;
   left:10pt;
   position:absolute;
   width:80%;
}
@@--
ul#bfl_navcontainer li {
   display:inline;
   margin-right:1em;
   font-family:arial,sans-serif;
   font-size:0.9em;
   font-weight:bold;
   padding:0.2em;
}
@@--
@@--  Colors
@@--
html {
   background: black;
   color:white;
}
@@--
a {
   color:white;
}
@@--
input:hoover, textarea:hoover {
   color:white;
}
@@--
ul#bfl_navcontainer li a {
   color:#c1c7c7;
}
@@--
ul#bfl_navcontainer li.index a {
   color:#436EEE;
}
@@--
#bfl_timestamp {
   font-size: 0.9em;
   font-weight:lighter;
}
@@--
.right {
   text-align:right;
}
@@--
@@-- Slides
@@--
ul.slides {
   list-style-type: none;
   width:100%;
   text-align:center;
}
@@--
ul.slides p.entry_name a, ul.thumb_metadata li.photoauthor a,
ul.thumb_metadata li.photocat a {
    overflow:visible;
}
p.entry_name {
   font-variant:small-caps;
   text-transform:lowercase;
}
@@--
ul.thumb_metadata {
   font-size:0.9em;
}
@@--
li.thumbs, li.small_thumbs {
   float: left;
   width:200px;
   height:210px;
   text-align: center;
   margin: 15px 30px;
}
@@--
li.small_thumbs {
   width: 130px;
   height: 100px;
   margin: 1px;
}
@@--
li.thumbs img, li.small_thumbs img {
   width:155px;
   display: inline;
   padding:0px;
   margin:-2px;
   vertical-align:center;
   text-align: center;
}
@@--
li.small_thumbs img {
   width:105px;
   margin:-5px;
}
@@--
span.nooverflowimage, span.small_nooverflowimage {
   width:150px;
   text-align:center;
   margin:10px;
   padding:0;
   vertical-align:center;
   height:100px;
   display:block;
   overflow:hidden;
}
@@--
span.small_nooverflowimage {
   width:110px;
   margin:5px;
   height:65px;
}
@@--
span.imgcontainer, span.small_imgcontainer {
   background-color: #222;
   border: 1px solid #434343;
   width:170px;
   text-align:center;
   margin:0 20px 0 20px;
   height:120px;
   display:block;
   overflow:hidden;
}
@@--
span.imgcontainer:hover {
    opacity:0.9;
    border: 1px solid #fff;
}

span.small_imgcontainer {
   width:120px;
   margin:12px 10px 10px 10px;
   height:75px;
}
@@--
.photocat {
   color: @_PHOTOCATEGORY_COLOR_@;
}
@@--
.photoauthor {
   color: @_PHOTOAUTHOR_COLOR_@;
}
@@--
.slides li a {
   text-align: center;
}
@@--
.slides li p a {
   color: @_PHOTOTITLECOLOR_@;
   font-size: 1.1em;
   font-weight: bold;
   height:1em;
   overflow:hidden;
   display:block;
   text-decoration: none;
}
@@--
.slides li p a.hidden_entry {
   text-decoration: line-through;
   color: #ff0000;
}
@@--
#buml_content {
   margin-left: 6em;
   width: 90%;
}
@@--
iframe {
@@--  display: none;
@@--  It is not possible to use the display property here as IE7 will
@@--  refuse to activate the form if the submit button is not displayed. For
@@--  the record, using "visibility: hidden" does not work. So the trick is
@@--  to make the button with a null size and move it outside of the
@@--  display.
   width: 0;
   height: 0;
   position: absolute;
   left: -9000px;
}
@@--
#rbl_new_comment {
   margin-top: 2em;
}
@@--
.thumbs img
{
   border: thin solid silver;
   margin-bottom: 0.3em;
}
@@--
.thumbs
{
   text-align: center;
}
@@--
ol.comments {
   padding: 1em;
@@--
}
@@--
li.level_1
{
   background-color: #1b1b1b;
   border : thin solid #1b1b1b;
   margin: 0.4em;
   padding:0.2em;
}
@@--
li.type_0
{
   background-color: black;
}
@@--
table.forum_text {
   margin:2em 0;
   width: 95%;
}
@@--
td {
   padding: 5px;
}
@@--
td.table_title {
   width: 50%;
}
@@--
tr.table_header {
   background-color: #1b1b1b;
   color: @_PHOTOTITLECOLOR_@;
   font-size: 1.1em;
   font-weight: bold;
   text-decoration: none;
}
tr.table_header th {
   padding: 0.1em 1em;
   font-weight: bold;
   text-align: center;
}
@@--
tr.table_line_0 {
   background-color: #1b1b1b;
}
@@--
tr.table_line_1 {
   background-color: black;
}
@@--
.thumbselect {
   background-position: left center;
   background-repeat: no-repeat;
   height: 80px;
   padding-left: 90px;
}
@@--
.thumboption {
   background-position: left center;
   background-repeat: no-repeat;
   height: 40px;
   margin-bottom: 2px;
   padding-left: 90px;
}
@@--
ol#rbcfe_comments cite {
   border-bottom:thin solid #019bbd;
   width:100%;
   display:block;
   margin:0 0 5px 0;
}
@@--
span.user_name {
   margin:0px;
   color:#029cbe;
   font-size: 1.2em;
   font-weight: bold;
   padding-left: 3em;
}
@@--
span.user_name a {
   margin:0px;
   color:#029cbe;
}
@@--
ol#rbcfe_comments abbr.comment_date {
   font-size: 0.8em;
   float: right;
}
@@--
ol#rbcfe_comments div.comment_body {
   font-size: 1.2em;
   line-height:1.5em;
   text-align: left;
}
@@--
@@--  User page
@@--
#pu_user_page h2 {
   width: 80;
   font-size: 1.2em;
   background: @_PHOTOTITLE_COLOR_@;
   text-decoration: none;
   width: 90%;
   align: center;
   margin: 0% 0% 1% 5%;
   padding: 0.2em;
   color: black;
}
body.user_page form#bup_user_page_edit_form, #bup_user_page_content {
   margin:2em;
   width: 80%;
}
@@--
body.user_page form#bup_user_page_edit_form textarea#bup_content_input {
   width:100%;
   height:15em;
}
@@--
#bup_user_page_edit {
   margin:2em;
   width: 90%;
   margin: 0% 0% 1% 5%;
}
@@--
#bup_user_page_content h1 {
   font-size:1.4em;
   display: block;
   font-size: 2em;
   font-weight: bold;
   margin: .67em 0;
}
@@--
#bup_user_page_content h2 {
   font-size:1.2em;
   display: block;
   font-size: 1.5em;
   font-weight: bold;
   margin: .83em 0;
}
@@--
#bup_user_page_content h3 {
   font-size:1.1em;
   display: block;
   font-size: 1.17em;
   font-weight: bold;
   margin: 1em 0;
}
@@--
#bup_user_page_content h4 {
   display: block;
   font-weight: bold;
   margin: 1.33em 0;
}
@@--
#bup_user_page_content h5 {
   display: block;
   font-size: 0.83em;
   font-weight: bold;
   margin: 1.67em 0;
}
@@--
#bup_user_page_content h6 {
   display: block;
   font-size: 0.67em;
   font-weight: bold;
   margin: 2.33em 0;
}
@@--
body.forum_post_page h1 {
   margin:0.5em;
   font-size:2em;
}
@@--
.posting_form {
   width: 80%;
   padding: 3em;
}
@@--
#pfnte_new_entry_form_submit {
   top-margin: 2em;
}
@@--
@@--  User page
@@--
body.user_page h1 {
   font-size: 1.6em;
   text-align:center;
   text-transform:none;
   font-weight:bold;
}
@@--
body.user_page #bup_user_page_content {
   padding:2em;
   margin: 4em 4em 0;
   border:thin solid @_LIGHT_BORDER_COLOR_@;
   text-align:left;
}
@@--
#bup_pref_block {
   padding: 1em;
}
#bup_notify {
   padding-top: 1em;
}
@@--
body.user_page h2 {
   clear:both;
   font-size: 1.1em;
   text-align:center;
   text-transform:none;
   font-weight:bold;
   text-decoration:underline;
}
@@--
body.user_page ul#bucl_lastusercommentlist {
   padding:2em 0;
   margin-left: 15%;
   width: 70%;
   text-align: left;
   font-size:1.1em;
}
body.user_page #bucl_lastusercommentlist li {
   padding:0.4em;
}
@@--
#buvpl_no_vote {
   text-align: center;
   font-size: 1.2em;
}
@@--
.error {
   font-size: 24px;
   color: @_ERROR_COLOR_@;
   text-align: center;
   padding: 3em;
}
@@--
.error_small {
   font-size: 1em;
   color: @_ERROR_COLOR_@;
   text-align: center;
   padding: 3em;
}
@@--
.errorinline {
   color: red;
}
@@--
#bm_metadata_edition_form textarea {
   width:30em;
   height:2em;
}
@@--
#bm_geo_metadata {
    margin-top:1em;
    font-weight:bold;
}
@@--
#bm_address_go {
   display:inline;
   padding:0;
   margin:0;
   position:relative;
   top:-0.8em;
}
@@--
#bm_address_example {
   width: 30em;
   padding: 0.6em;
   text-align: center;
   border: thin solid @_LIGHT_BORDER_COLOR_@;
   margin: 1em auto;
}
@@-- help page
body.new h2, body.new h3, body.new h1, body.help h2 {
   text-transform: none;
   margin: 2em 0 0.5em 0;
   padding-top: 0.7em;
   font-weight: bold;
   text-align: center;
}
@@--
body.new h2, body.help h2 {
   font-size: 1.3em;
   border-top: thin solid @_LIGHT_BORDER_COLOR_@;
}
@@--
body.new h1 {
   font-size: 2em;
}
@@--
body.new h2 {
   color:#F5FFF0;
   font-size:1.6em;
}
@@--
body.new p, body.help p, body.help ul {
   margin:0 auto;
   padding-left:1em;
   line-height:1.5em;
   width:80%;
   text-align:justify;
}
@@--
body.help li {
   margin-left:1.4em;
   line-height:1.5em;
   list-style:square;
}
@@--
a.help, a.link, a:hover {
   text-decoration:underline;
}
@@--
a.link:hover {
    text-decoration:none;
}
@@--
#ph_tech {
   margin-top: 5em;
   text-align: center;
   border-top: thin solid @_LIGHT_BORDER_COLOR_@;
}
@@--
#bm_map {
   margin:0 auto;
}
@@--
#bm_map_geoloc_content {
   color:black;
}
@@--
#bm_map span, #bm_map_canvas span {
   font-size: 0.5em;
}
@@--
#bm_map a, #bm_map_canvas a {
   font-size: 0.5em;
}
@@--
#bm_show_map {
   padding-top:1em;
}
@@--
.whatsnew {
   color:red;
   font-size:1.1em;
   font-weight:lighter;
   text-decoration:underline;
}
@@--
.exif {
   height: 8em;
}
@@--
.exif dt
{
   background-color: #131210;
   color: #959289;
   padding: 0.1em;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   border-left: 1px solid #131210;
   border-right: 1px solid #131210;
   border-top: 1px solid #131210;
   width: 17em;
   float: left;
}
@@--
.exif dd
{
   margin: 1pt;
   background: #444444;
   text-align: center;
   padding: 0.1em;
   font-style: italic;
   border-left: 1px solid #131210;
   border-right: 1px solid #131210;
   border-bottom: 1px solid #131210;
   width: 20em;
   float: left;
}
#bm_exif_metadata {
   padding: 1em;
   font-size: 0.8em;
}
@@-- Include rating.css
@@INCLUDE@@ rating.css
@@-- user register page
body.user_register_page p {
   margin:0 auto;
   padding-left:1em;
   line-height:3em;
   width:80%;
   text-align:justify;
}
@@--
body.user_register_page label {
   width:10em;
}
@@--
#pur_register_message {
   padding: 2em;
   text-align:center;
   color: @_ERROR_COLOR_@;
   font-size: 1.5em;
}
@@--
#ppp_rules li, #pur_rules li {
   padding-top: 0.2em;
   padding-left: 1em;
   text-align:left;
   color: @_IMPORTANT_TEXT_COLOR_@;
   width: 80%;
   margin: 0pt 12em;
}
@@--
#ppp_rules ol, #ppp_rules li, #pur_rules ol, #pur_rules li {
   list-style-type: decimal;
}
@@--
#pur_register_user label {
   width: 8em;
   float: left;
}
@@--
#pur_register_user p {
   padding-top: 1em;
}
@@--
.rss_link {
    vertical-align:middle;
}
#bfl_navcontainer a.selected {
    color:white;
}
@@--
.commentid {
    padding-right:1em;
    color:@_HIGHLIGHT_COLOR_@;
}
.table_empty {
    padding:1em;
    color:@_HIGHLIGHT_COLOR_@;
    font-size:1.5em;
}
