
@@SET@@ MAX_IMAGE_SIZE=800
@@SET@@ MIN_IMAGE_SIZE=500
@@SET@@ HIGHLIGHT_COLOR=#019BBD
@@SET@@ PHOTOTITLECOLOR=#CBCBFF
@@SET@@ PHOTOCATEGORY=#DCE0E3
@@SET@@ PHOTOAUTHOR=#B5C8FF
@@SET@@ LIGHT_BORDER=#111

@@-- Position

html, body, #contents {
    height:100%;
    min-height:100%;
    width:100%;
}

html > body, html > body #contents {
    height:auto;
}

body {
    margin:0pt;
    padding:0pt;
}

#contents {
    left:0pt;
    position:absolute;
    top:0pt;
}

#footer {
    background-color:#222222;
    bottom:0pt;
    padding:0pt;
    position:absolute;
    text-align:center;
    width:100%;
}

#main {
    height:auto;
    margin-bottom:5em;
    padding:0.5em;
}

@@--  Fonts

* {
   line-height:1.4em;
}

h1, h2, h3, h4, h5, h6 {
   text-transform:capitalize;
}

p {
   margin: 1em 0em;
}

body {
   font-family: arial, sans-serif;
   text-align:left;
}

a {
   text-decoration:none;
}

p#cd_user {
   font-style:italic;
}

#footnote {
   font-size:0.8em;
}

@@--  General

select, input {
   border: thin solid @_HIGHLIGHT_COLOR_@;
   color: white;
}

input[type="submit"] {
   background-color: @_HIGHLIGHT_COLOR_@;
   color: black;
}

strong {
   font-weight: bolder;
}

cite, em {
   font-style: italic;
}

h1 {
   padding:2em 0 0 0;
   font-size:1.6em;
   font-weight:bold;
   text-align:center;
   text-transform:none;
}

.error {
   padding:2em;
   color:red;
   font-size:1.6em;
   font-weight:bold;
}

@@--  Blocks

div#image_block {
   left:50%;
   margin:40px 0 0 -@_DIV(2):MAX_IMAGE_SIZE_@px;
   position:relative;
   padding:0;
   width:@_MAX_IMAGE_SIZE_@px;
}

@@--  Navigation links

ul#navigate li {
   display:inline;
   text-transform:uppercase;
   font-size:0.8em;
   padding-right:1em;
}

ul#navigate li img {
   display:none;
}

@@--  forum_entry

#image_infos {
    margin:2em 0;
    padding:1em 2em;
    background-color: @_LIGHT_BORDER_@;
    border:thin solid @_PHOTOTITLECOLOR_@;
}

body.forum_entry h2 {
   font-size: 1.8em;
   margin-bottom: 20px;
   font-weight: lighter;
   letter-spacing: 0.1ex;
   padding-bottom:0.5em;
   margin:0 5em 1em 5em;
   border-bottom:thin solid @_PHOTOTITLECOLOR_@;
   text-align:center;
}

#img_author {
    text-align:right;
    font-style:italic;
    color:@_PHOTOAUTHOR_@;
}

#main_image_comment {
  text-align:center;
  font-size:1.3em;
}

textarea#comment_input {
   width:95%;
   height:10em;
   background: black;
   color: white;
   border: thin dotted white;
}

label#comment_input {
   width: 90%;
   font-size: 1.2em;
   background: black;
}

form#comment_form label {
   font-weight: bold;
   font-size: 1.2em;
   background: black;
}

div#lazy_new_comment {
   border: thin solid @_LIGHT_BORDER_@;
   padding: 1em;
   margin-top: 1em;
}

body.forum_entry p#main_image {
   margin:0px auto;
   text-align:center;
   padding:5px 0 0 0;
}

body.forum_entry #comments {
    border :thin solid @_LIGHT_BORDER_@;
    padding:1em;
}

body.forum_entry #comments li {
    border :thin solid #004656;
    padding:1em;
}

body.forum_entry #comments p#nocomment {
    @@-- When no comments
    font-size:1.4em;
    text-align:center;
}

#noanonymouscomment {
   text-align:center;
   color:#B01417;
   text-decoration:underline;
}

body.forum_entry #new_comment {
   width:@_MIN_IMAGE_SIZE_@px;
}

body.forum_entry #new_comment legend {
   display:none;
}

body.forum_entry #new_comment input,
body.forum_entry #new_comment textarea
{
   width:95%;
   padding:0.2em;
   margin:5px 0 5px 0;
}

body.forum_entry #new_comment input[type="submit"]
{
   width:2em;
}

div#comment_login em {
   font-size:1.1em;
}

.enternewcomment {
   clear:left;
   margin: 3em 0 0 0;
   position:relative;
}

@@--  Forum threads

div#lazy_login, div#lazy_quick_login {
   float:right;
   margin-right:1em;
   font-size:0.8em;
   text-align:right;
   position:absolute;
   margin:5px;
   top:0px;
   right:0px;
   z-index:5000;
}

div#forum_text {
   border: thin solid @_LIGHT_BORDER_@;
   width: 90%;
   margin-left: 2em;
   margin-top: 2em;
   padding: 1em;
}

div#lazy_login {
    top:1em;
}

div#login_err {
    margin:0;
    padding:0;
    color:red;
}

div#quick_login a#show_rel_login {
   border: thin solid #2181b5;
   padding:2px;
}

body.forum_threads select#forum_filter_set {
   margin:2em 0 0 1em;
}

body.forum_threads ul#navcontainer {
   margin:5px 0 0 5px;
}

@@--  Login form

form#login_form {
   margin: 2em 0 2em 0;
}

form#login_form legend,
   form#login_form p {
      display:inline;
   }

form#login_form p#cd_user {
   display:block;
}

#login_form input {
   margin-right:1em;
   width:8em;
}

#login_form label {
   display:none;
}

#logged_box {
   padding:2em;
}

@@--  Main page

body.main h1 {
   padding:2em 0 0.5em 0;
   font-size:2em;
}

body.main p#v2p_binary {
   font-size:0.6em;
   width:40em;
}

body.main p#logo {
   padding:0;
   position:absolute;
   float:right;
   margin-left:34em;
   witdh:200px;
}

#presentation p {
   width:30em;
}

@@--  Footpage

#ft {
    display:none;
}

@@--  Forum list

ul#navcontainer {
    top:5px;
    position:absolute;
    width:80%;
}

ul#navcontainer li {
   display:inline;
   margin-right:1em;
   font-family:arial,sans-serif;
   font-size:0.9em;
}

ul#navcontainer li a {
   text-decoration:underline;
}

ul#navcontainer li.index a {
  text-decoration:none;
}

@@--  Colors

html {
   background: black;
   color:white;
}

a {
   color:white;
}

select, input
{
   background-color:#131313;
}

input:hoover,
   textarea:hoover
{
   color:white;
}

ul#navcontainer li a {
   color:#c1c7c7;
}

ul#navcontainer li.index a {
   color:#436EEE;
}

.right {
   text-align:right;
}


@@-- Slides

ul.slides {
    list-style-type: none;
    margin:0 auto;
    width:100%;
    text-align:center;
}

ul.thumb_metadata {
    font-size:0.9em;
}

li.thumbs, li.small_thumbs {
    float: left;
    overflow:hidden;
    width:200px;
    height:210px;
    text-align: center;
    margin: 30px;
}

li.small_thumbs {
    width: 130px;
    height: 100px;
    margin: 1px;
}

li.thumbs img, li.small_thumbs img {
    width:155px;
    display: inline;
    padding:0px;
    margin:-2px;
    vertical-align:center;
    text-align: center;
}

li.small_thumbs img {
    width:105px;
    margin:-5px;
}

span.nooverflowimage, span.small_nooverflowimage {
    width:150px;
    text-align:center;
    margin:10px;
    padding:0;
    vertical-align:center;
    height:100px;
    display:block;
    overflow:hidden;
}

span.small_nooverflowimage {
    width:110px;
    margin:5px;
    height:65px;
}

span.imgcontainer, span.small_imgcontainer {
    background-color: #222;
    border: 1px solid #434343;
    width:170px;
    text-align:center;
    margin:0 20px 0 20px;
    height:120px;
    display:block;
    overflow:hidden;
}

span.small_imgcontainer {
    width:120px;
    margin:0 10px;
    height:75px;
}

.photocat {
    color: @_PHOTOCATEGORY_@;
}

.photoauthor {
    color: @_PHOTOAUTHOR_@;
}

.slides li a {
    text-align: center;
}

.slides li p a {
   color: @_PHOTOTITLECOLOR_@;
   font-size: 1.1em;
   font-weight: bold;
   height:1em;
   overflow:hidden;
   display:block;
   text-decoration: none;
}

.slides li p a.hidden_entry {
   text-decoration: line-through;
   color: #ff0000;
}

iframe {
/*    display: none; */
/* It is not possible to use the display property here as IE7 will
refuse to activate the form if the submit button is not displayed. For
the record, using "visibility: hidden" does not work. So the trick is
to make the button with a null size and move it outside of the
display. */
   width: 0;
   height: 0;
   position: absolute;
   left: -9000px;
}

#new_comment {
   margin-top: 2em;
}


.thumbs img
{
   border: thin solid silver;
   margin-bottom: 0.3em;
}

.thumbs
{
   text-align: center;
}

ol.comments {
   padding: 1em;

}

li.level_1
{
   background-color: #1b1b1b;
   border : thin solid #1b1b1b;
   margin: 0.4em;
   padding:0.2em;
}

li.type_0
{
   background-color: black;
}

table.forum_text {
   margin-top: 2em;
   margin-bottom: 2em;
   width: 80%;
}

td {
   padding: 5px;
}

td.table_title {
   width: 50%;
}

tr.table_header
{
   background-color: #1b1b1b;
   color: @_PHOTOTITLECOLOR_@;
   font-size: 1.1em;
   font-weight: bold;
   text-decoration: none;
}
tr.table_line_0
{
   background-color: #1b1b1b;
}
tr.table_line_1
{
   background-color: black;
}

.thumbselect {
   background-position: left center;
   background-repeat: no-repeat;
   height: 80px;
   padding-left: 90px;
}

.thumboption {
   background-position: left center;
   background-repeat: no-repeat;
   height: 40px;
   margin-bottom: 2px;
   padding-left: 90px;
}

#show_new_photo_post {
   background: url(/css/img/list-add.gif);
   background-position: left center;
   background-repeat: no-repeat;
   padding: 10px 10px 10px 40px;
}

a#show_new_photo_post {
   text-decoration:underline;
}

div#form_container p {
   margin:10px 0 0 2em;
}

form#basic_post_form legend
{
   font-size:1.3em;
   margin:0 0 1em 0;

}

#new_post {
   width:30em;
}

#new_post label {
   float:left;
   margin:1em 0 0 0;
}

#new_post p#forum_sel select {
   float:left;
   width:45%;
}

#new_post p#forum_sel select#sel_category {
   margin-left:10%;
}

#new_post input, #new_post textarea {
   float:left;
   width:100%;
}

input#photo_form_enter {
   margin-left:1em;
}

form#metadata_edition_form {
   float:left;
   position:absolute;
   top:2em;
   margin-left:40em;
}

ol#comments cite {
   border-bottom:thin solid #019bbd;
   width:100%;
   display:block;
   margin:0 0 5px 0;
}

span.user_name {
   margin:0px;
   color:#029cbe;
   font-size: 1.2em;
   font-weight: bold;
}

span.user_name a {
   margin:0px;
   color:#029cbe;
}

ol#comments abbr.comment_date {
   font-size: 0.8em;
   float: right;
}

ol#comments div.comment_body {
   font-size: 1.2em;
   line-height:1.5em;
   text-align: left;
}

@@--  User page

body.user_page form#user_page_edit_form,
   #user_page_content
{
   margin:2em 0 0 1em;
}

body.user_page form#user_page_edit_form textarea#content_input {
   width:100%;
   height:30em;
}

#user_page_content h1 {
   font-size:1.4em;
}

#user_page_content h2 {
   font-size:1.2em;
}

#user_page_content h3 {
   font-size:1.1em;
}


#user_page_content h1 {
   display: block;
   font-size: 2em;
   font-weight: bold;
   margin: .67em 0;
}

#user_page_content h2 {
   display: block;
   font-size: 1.5em;
   font-weight: bold;
   margin: .83em 0;
}

#user_page_content h3 {
   display: block;
   font-size: 1.17em;
   font-weight: bold;
   margin: 1em 0;
}

#user_page_content h4 {
   display: block;
   font-weight: bold;
   margin: 1.33em 0;
}

#user_page_content h5 {
   display: block;
   font-size: 0.83em;
   font-weight: bold;
   margin: 1.67em 0;
}

#user_page_content h6 {
   display: block;
   font-size: 0.67em;
   font-weight: bold;
   margin: 2.33em 0;
}

hr#step_1, hr#step_2, hr#step_3, hr#step_4 {
    padding:0;
    margin:1em 0 0 0;
    width:40%;
    border-left:thin solid white;
}

hr#step_2, hr#step_4 {
    left:20%;
    position:relative;
}

body.forum_post_page h1 {
    margin:0.5em;
    font-size:2em;
}


@@--  User page

body.user_page h1 {
    font-size: 1.6em;
    text-align:center;
    text-transform:none;
    font-weight:bold;
}

body.user_page #user_page_content {
    padding:2em;
    margin: 2em 0;
    border:thin solid #222;
}

body.user_page h2 {
    clear:both;
    font-size: 1.1em;
    text-align:center;
    text-transform:none;
    font-weight:bold;
    text-decoration:underline;
}

body.user_page ul#lastusercommentlist {
    padding:2em;
}
