@@--  Set the main site colors
@@SET@@ V2P_MAIN_BACKGROUND_COLOR=rgb(20, 20, 20)
@@SET@@ V2P_MAIN_COLOR=#ffffff
@@SET@@ V2P_MAIN_COLOR_INVERT=#000000
@@SET@@ V2P_MAIN_LINK_COLOR=#556666
@@SET@@ V2P_MAIN_LINK_HOVER_COLOR=#778888
@@SET@@ V2P_ENTRY_BORDER_COLOR=#665544
@@SET@@ V2P_LABEL_AND_INPUT_COLOR=#998866
@@SET@@ V2P_COLOR_1=#bbbbcc
@@SET@@ V2P_COLOR_2=#eeffff
@@SET@@ V2P_COLOR_3=#333333
@@SET@@ V2P_COLOR_4=#cccccc
@@SET@@ V2P_WARNING_COLOR=red

/* General */

body {
    background-color: @_V2P_MAIN_BACKGROUND_COLOR_@;
    color: @_V2P_MAIN_COLOR_@;
}

a {
    color : @_V2P_MAIN_LINK_COLOR_@;
}

a:hover, a:active {
    color: @_V2P_MAIN_LINK_HOVER_COLOR_@;
}

h1 {
    line-height: normal;
    color: @_V2P_COLOR_4_@;
    font-style: normal;
    text-align: center;
    padding: 5px;
    border: solid 2px @_V2P_ENTRY_BORDER_COLOR_@;
}

div#login {
    text-align: right;
}

label, input {
    font-size: small;
    font-weight: bold;
    color: @_V2P_LABEL_AND_INPUT_COLOR_@;
}

input[type="submit"]{
    border: 1px solid @_V2P_MAIN_LINK_COLOR_@;
    color: @_V2P_MAIN_COLOR_INVERT_@;
}

input[type="submit"]:hover {
    background-color:  @_V2P_MAIN_LINK_COLOR_@;
}

div#status_bar {
    border: 1px solid @_V2P_WARNING_COLOR_@;
    padding: 0.3em;
    margin-top:1em;
    padding-right : 2%;
}

#footer {
    text-align: center;
    clear: both;
    color: @_V2P_COLOR_2_@;
}

#footer a {
    color: @_V2P_MAIN_COLOR_@;
}

/* Forum entry */

div.level_1 {
    border-top : 1px solid @_V2P_ENTRY_BORDER_COLOR_@;
    padding-bottom: 2em;
}

p.comment_whois {
    color : @_V2P_COLOR_2_@;
}

div#new_comment {
    border : 1px solid @_V2P_ENTRY_BORDER_COLOR_@;
    padding: 0.3em;
    margin-top:1em;
    padding-right : 2%;
}

/* Forum list */

div.forumlistbar {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

div.forumlistbar a {
    color: @_V2P_COLOR_1_@;
}

div.forumlistbar a:hover, a:active {
    color: @_V2P_MAIN_COLOR_@;
}

/* Thread list */

table#thread_list_table {
    margin-left: 10%;
    width: 80%;
    border-width: 2px;
    border-color: @_V2P_COLOR_3_@;
    border-style: solid;
    border-collapse: separate;
    color: @_V2P_COLOR_1_@;
}

table#thread_list_table caption {
    margin-left: 10%;
    margin-top: 5em;
    margin-bottom: 1em;
}

table#thread_list_table th {
    background-color: @_V2P_COLOR_3_@;
    color: @_V2P_COLOR_4_@;
}

table#thread_list_table td {
    color: @_V2P_COLOR_4_@;
    text-align: center;
}
